<section class="upper-container">
	<p class="home-header-title">
		Propuestas reales 
	</p>
	<a href="/posts" class="boton-upper-container">Ver ideas</a>
	<a href="/posts/new" class="boton-upper-container">Publica tu idea</a>
</section>

<section class="mid-container" id="first">
	<h3 class="header" id="first-header">¿Qué buscamos?</h3>
	<p> Buscamos combatir la desigualdad en Chile mediante <strong>propuestas reales y concretas.</strong> Soluciones desde la ciudadanía, para la ciudadanía. En esta plataforma tod@s pueden contribuir, siempre y cuando se promueva <strong>el diálogo, la colaboración y el respeto.</strong></p>
	<!--
	<div class="right-mid-container">
		<img class="image" src="https://equitablegrowth.org/wp-content/uploads/2019/03/Gender-wage-gap-and-coins.jpg" >
	</div>
	-->
</section>

<section class="mid-container" id="second">
	<h3 class="header" id="second-header">¿Cómo funciona?</h3>
	<p>1. <strong>Comparte tu idea:</strong> Recibimos todo tipo de ideas concretas y aplicables. Estas pueden ser dirigidas al gobierno, a empresas, o bien, a ciudadan@s.</p>
	<p>2. <strong>Explora las ideas existentes:</strong> Te invitamos a leer qué ideas han propuesto otras personas en las temáticas que te interesan.</p>
	<p>3. <strong>Coopera:</strong> Ponte en contacto con las personas detrás de las ideas que te parezcan interesantes. Creemos firmemente en que la colaboración e iteración de ideas es esencial para llegar a mejores propuestas (próximamente).</p>
</section>

<section class="mid-container">
	<h3 class="header" id="second-header">¿Quieres descargar las ideas?</h3>
	<p><strong>Haz click aquí!</strong> </p>
	<button id="download_button">Download</button>
	
</section>



<script type="text/javascript">

	var csv = <%- `'${JSON.stringify(csv)}'` %>;

	var download = function() {
	var button = document.getElementById('download_button');
	button.onclick = function(){
	console.log(csv);
    const blob = new Blob([csv], {type: 'text/csv'});
    const url = window.URL.createObjectURL(blob);
	const a = document.createElement('a');
    a.setAttribute('hidden', '');
    a.setAttribute('href', url); 
    a.setAttribute('download', 'download.csv');
	document.body.appendChild(a);
	a.click()
	document.body.removeChild(a);
	
    }}
	document.addEventListener('DOMContentLoaded', download());

</script>  


