<div class='fondo_gris'>

	<section class="upper-container">
		<p class="home__header__title">
		  Propuestas Constructivas 
		</p>
		<a href="/posts" class="create_boton">Ver ideas</a>
		<a href="/posts/new" class="create_boton">Publica tu idea</a>
	</section>

	<section class="mid-container">
		<div class="div_izquierdo">
			<h1 >Qué buscamos ?</h1>
			<p >Buscamos combatir la desigualdad en Chile mediante propuestas reales y concretas. Soluciones desde la ciudadanía, para la ciudadanía. En esta plataforma tod@s pueden contribuir, siempre y cuando se promueva el diálogo, la colaboración y el respeto.</p>
		</div>
		<div class="div_derecho derecha">
			<img  class="container_image" src="https://equitablegrowth.org/wp-content/uploads/2019/03/Gender-wage-gap-and-coins.jpg" >
		</div>
	</section>
	
	<section class="mid-container">
			<div class="div_izquierdo">
					<h1 >¿Cómo funciona?</h1>
					<p>1. Comparte tu idea: Recibimos todo tipo de ideas concretas y aplicables. Estas pueden ser dirigidas al gobierno, a empresas, o bien, a ciudadan@s.</p>
					<p>2. Explora las ideas econtainerxistentes: Toda idea que cumpla con un mínimo criterio de factibilidad va a estar disponible en esta plataforma. Te invitamos a leer qué ideas han propuesto otras personas en las temáticas que te interesan.</p>
					<p>3. Coopera: Ponte en contacto con las personas detrás de las ideas que te parezcan interesantes. Creemos firmemente en que la colaboración e iteración de ideas es esencial para llegar a mejores propuestas.</p>
			</div>
			<div class="div_derecho derecha">
				<img  class="container_image" src="https://news.harvard.edu/wp-content/uploads/2018/05/inequalityoverlaycrop.jpg?w=1600&h=900&crop=1" >
			</div>
		</section>
	
	

</div>	