<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <head>
    <meta charset="utf-8">
    <title>Propuestas Reales</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
      <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
    <% } %>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <a class="navbar-logo" href="/"><img src="<%= assetPath('logo_horizontal_propuestas_reales.png') %>" alt="Logo"/></a>
      </nav>
    </header>
    <div class="content-container">
      <%- body %>
    </div>
    <script src="<%= assetPath('app.js') %>"></script>
  </body>

</html>
