<div id="react-vote"></div>

<script type="text/javascript">               
   var postList=[<% posts.map((p) => { %>
                   <%- `'${JSON.stringify(p)}',` %>
               <% }) %>];
 </script>  
