html, body {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color:rgb(240, 240, 240);
}

.new-post-button-container{
  width: 61%;
  margin: 8px 0;
}

.new-post-button{
  width: 100%;
  background-color: #1ab188;
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  border-radius: 8px;
  padding: 10px 0;
}

#react-index{
  width: 61%;
  select{
    width: 100%;
    option{
      padding: 10px;
    }
  }
}

.inner-posts-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  background-color:rgb(30, 30, 30);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  height: 50px;

  .navbar-logo {
    height: 100%;
    width: auto;
    
    img {
      max-height: 100%;
      width: auto;
    }
  }
}

.content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-container{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  margin: 18px 0;
  border-radius: 10px;

  .type-part-container{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 10px 10px 0 0;

    h4{
      margin: 10px;
    }
  }

  .lower-part-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px 0px 20px;
    margin: 18px 0;
    border-radius: 10px;

    .areas-container{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
  
      .area-header{
        margin: 8px 8px 8px 12px;
      }

      p{
        margin: 0 5px;
        padding: 2px 4px;
        border-radius: 5px;
      }
  
      .area-Economía-Fomento-y-Turismo {
        background-color: #f2f473;
      }

      .area-Salud {
        background-color: #f9be57;
      }

      .area-Mujer-y-la-Equidad-de-Género {
        background-color: #81c7e2;
      }

      .area-Hacienda {
        background-color: #f7bbc8;
      }

      .area-Desarrollo-Social-y-Familia {
        background-color: #7aff83;
      }

      .area-Trabajo-y-Previsión-Social {
        background-color: #ea98ae;

      }

      .area-Vivienda-y-Urbanismo {
        background-color: #88ed53;
      }

      .area-Transportes-y-Telecomunicaciones {
        background-color: #c9f957;
      }

      .area-Defensa-Nacional {
        background-color: #cc9ff9;
      }

      .area-Educación {
        background-color: #a2ed8e;
      }

      .area-Obras-Públicas {
        background-color: #22e54f;
      }

      .area-Ciencia-Tecnología-Conocimiento-e-Innovación {
        background-color: #f9eab1;
      }

      .area-Interior-y-Seguridad-Pública {
        background-color: #6bf46d;
      }

      .area-Secretaría-General-de-Gobierno {
        background-color: #edb9f7;
      }

      .area-Justicia-y-Derechos-Humanos {
        background-color: #65edc2;
      }

      .area-Minería {
        background-color: #e5d864;
      }

      .area-Energía {
        background-color: #dd9e52;
      }

      .area-Relaciones-Exteriores {
        background-color: #adffce;
      }

      .area-Medio-Ambiente {
        background-color: #39d390;
      }

      .area-Culturas-las-Artes-y-el-Patrimonio {
        background-color: #a0e82e;
      }

      .area-Secretaría-General-de-la-Presidencia {
        background-color: #b2e0f4
      }

      .area-Agricultura {
        background-color: #f9b3a9;
      }

      .area-Bienes-Nacionales {
        background-color: #f1f7a3;
      }

      .area-Deporte {
        background-color: #7af99c;
      }
  }

  .id{
    margin: 0 10 0 0px;
    align-self: center;

  }


}
  .body-container{
    display: flex;
    flex-direction: column;

    .propuesta-header{
      margin: 8px 8px 0 12px;
    }

    .body{
      font-style: italic;
      hyphens: auto;
      text-align: justify;
      margin: 0 5px;
      padding: 10px 25px;
      border-radius: 5px;
    }


  }

}


/* Desktop Styles */
@media only screen and (min-width: 961px) {
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
}