<% if (locals.errors) { %>
    <div class="errors">
      You need to fix the following errors:
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>

  <div id="ministries"></div>
  <script type="text/javascript">
    console.log("Cargando JS en HTML...");
    var ministriesList=[<% ministries.map((m) => { %>
                    <%- `'${[m.ministry, '&', m.id]}',` %>
                <% })%>];
    console.log('Ministerios desde backend: ')
  </script>  
</div>

  <p>
    <div id="react-form"></div>
  </p>
  <a href="<%- PostIndexPath %>">Ir a ver propuestas</a>
   
    
    
  