<% if (locals.errors) { %>
    <div class="errors">
      You need to fix the following errors:
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <script type="text/javascript">
    var ministriesList=[<% ministries.map((m) => { %>
                    <%- `'${[m.ministry, '&', m.id]}',` %>
                <% })%>];
  </script>  
</div>

<div id="react-form"></div>
<a class="form-button" href="<%- PostIndexPath %>">Cancelar</a>
   
    
    
  