<div class="form-page-container">
    <div class="form-container">
        <h2>Nueva propuesta</h2>
        <p>Buscamos propuestas respetuosas, constructivas, y sobretodo, <strong>fundamentadas</strong>. Así, se publicarán todas aquellas que cumplan con estos tres principios básicos.</p>
        <%- include('_form') %>
    </div>
</div>