<div id="react-vote"></div>

<script type="text/javascript">
    var ministriesList=[<% ministries.map((m) => { %>
                   <%- `'${JSON.stringify(m)}',` %>
               <% }) %>];
               
   var postList=[<% posts.map((p) => { %>
                   <%- `'${JSON.stringify(p)}',` %>
               <% }) %>];
 </script>  
